* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__left {
    width: 200px;
    margin-left: 50px;
}

.header__right-content {
    display: flex;
    margin-top: 15px;
    margin-right: 50px;
}

.header__right-item {
    color: #666;
}

.header__right-item:not(:last-child) {
    margin-right: 20px;
}



.main {
    width: 100%;
    height: 100%;
}

.main__img {
    width: 60%;
    margin-left: auto;
    display: block;
}

.main__text {
    width: 100%;
    height: 100%;
    padding-left: 17%;
    margin-top: -33%;
}

.main__text-ttl {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: #b33e5c;
}

.main__text-ttl-green {
    color: #00ac97;
}

.main__text-top {
    color: #b33e5c;
    font-size: 1.8vw;
    margin-top: 50px;
}

.main__text-top-green {
    color: #00ac97;
}

.main__text-bottom {
    color: #666;
    line-height: 20px;
    font-size: 1.2vw;
    margin-top: 6px;
}



.news {
    width: 70%;
    margin: 13% auto 8%;
}

.news__ttl-top {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #b33e5c;
    padding-bottom: 10px;
}

.news__ttl-bottom {
    color: #666;
    font-size: 32px;
    padding-bottom: 30px;
}

.news__table {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    position: relative;
}

.news__table::after {
    position: absolute;
    content: "";
    background-color: #666;
    width: 100%;
    height: 2px;
    bottom: 350px;
}

.news__table::before {
    position: absolute;
    content: "";
    background-color: #666;
    width: 100%;
    height: 2px;
    bottom: -60px;
}

.news__table-content {
    font-size: 1.4vw;
    border-bottom: 1px solid #666;
    text-align: center;
}

.news__table-date {
    margin-top: 10px;
    padding-top: 15px;
    color: #666;
}

.news__table-tag {
    color: #fff;
    background-color: #b33e5c;
    display: inline-block;
    border-radius: 24px;
    padding: 5px 20px 5px 20px;
    margin-left: 2vw;
 }

.news__table-text {
    color: #666;
}


.about {
    width: 100%;
    text-align: center;
    background: #eeeeee;
    padding-bottom: 30px;
}

.about__ttl-top {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #b33e5c;
    padding-bottom: 10px;
    padding-top: 100px;
}

.about__ttl-bottom {
    color: #666;
    font-size: 32px;
    padding-bottom: 30px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.about__content-text {
    font-size: 1.3vw;
    color: #666;
    text-align: left;
}

.about__content-text-top {
    margin-bottom: 40px;
    line-height: 30px;
}

.about__content-text-bottom {
    line-height: 30px;
}

.about__img {
    width: 30vw;
}


.service {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.service__ttl-top {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #b33e5c;
    padding-bottom: 10px;
    padding-top: 100px;

}

.service__ttl-bottom {
    color: #666;
    font-size: 32px;
    padding-bottom: 30px;
}

.service__content {
    width: 100%;
    height: 32vmax;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #00ac97;
}

.service__content-left {
    width: 50%;
    height: 100%;
    background: #b33e5c;
    float: left;
}

.service__content-left-img {
    width: 13vw;
    margin-top: 5vh;
}

.service__content-left-text-ttl {
    margin-top: 10px;
    font-size: 1.7vw;
}

.service__content-left-text-description {
    width: 80%;
    margin: 4% auto;
    text-align: left;
    font-size: 1.3vw;
    line-height: 25px;
}

.service__content-right-top {
    width: 50%;
    height: 50%;
    background: #bc5871;
    float: right;
    display: flex;
}

.service__content-right-top-img {
    width: 12vw;
    margin-top: 3vh;
    margin-left: 1.1vw;
}

.service__content-right-top-text {
    margin-left: 1.3vw;
    margin-top: 1vw;
    text-align: left;
}


.service__content-right-top-text-ttl {
    margin-top: 4.5vh;
    font-size: 1.7vw;
}

.service__content-right-top-text-description {
    width: 110%;
    margin-top: 10%;
    text-align: left;
    font-size: 1.3vw;
}

.service__content-right-bottom {
    width: 50%;
    height: 50%;
    background: #bc808f;
    float: right;
    display: flex;
}

.service__content-right-bottom-img {
    width: 12vw;
    margin-top: 3vh;
    margin-left: 1.1vw;
}

.service__content-right-bottom-text {
    margin-left: 1.3vw;
    margin-top: 1.8vw;
    text-align: left;
}

.service__content-right-bottom-text-ttl {
    margin-top: 4.5vh;
    font-size: 1.7vw;
}

.service__content-right-bottom-text-description {
    width: 110%;
    margin-top: 10%;
    text-align: left;
    font-size: 1.3vw;
}

.service__text-ttl {
    color: #fff;
}

.service__text-decription {
    color: #fff;
}


.blog {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    box-sizing: border-box;
    margin-top: 300px;
    padding-bottom: 80px;
}

.blog__ttl-top {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #b33e5c;
    padding-bottom: 10px;
    margin-left: 10%;
    padding-top: 100px;
}

.blog__ttl-bottom {
    color: #666;
    font-size: 32px;
    padding-bottom: 30px;
    margin-left: 10%;
}

.blog__flex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.blog__flex-content {
    width: 30%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.blog__flex-content-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog__flex-content-ttl {
    color: #fff;
    background: #b33e5c;
    font-size: 20px;
    padding: 15px;
    border-top-left-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.blog__flex-content-text {
    width: 80%;
    color: #666;
    margin: 15px auto 0;
    line-height: 25px;
    font-size: 1.4vw;
}

.blog__flex-content-bottom {
    margin: 3vw auto 3vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 1.2vw;
}

.blog__btn {
    width: 180px;
    height: 50px;
    color: #b33e5c;
    border: 2px solid #b33e5c;
    border-radius: 25px;
    background: #fff;
    text-align: center;
    margin: 30px auto;
    line-height: 40px;
}


.company {
    width: 100%;
    margin-bottom: 100px;
}

.company__ttl-top {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #b33e5c;
    padding-bottom: 20px;
    margin-left: 25%;
    padding-top: 100px;
}

.company__ttl-bottom {
    color: #666;
    font-size: 32px;
    padding-bottom: 30px;
    margin-left: 25%;
}

.company__table {
    width: 60%;
    margin: 0 0 0 25%;
}

.company__table-content {
    border: 1px solid #cccccc;
}

.company__table-item {
    border: 1px solid #cccccc;
    color: #666;
    background: #efefef;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
}

.company__table-description {
    color: #666;
    text-align: left;
    padding-left: 20px;
}

.recruit {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.recruit__left {
    width: 100%;
    position: relative;
}

.recruit__left-img {
   width: 100%;
}

.recruit__left-info {
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recruit__right {
    width: 100%;
    position: relative;
}

.recruit__right-img {
    width: 100%;
}

.recruit__right-interview {
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    margin-top: 50px;
    text-align: center;
}

.contact__text {
    color: #666;
    font-size: 1.5vw;
}

.contact__bar {
    border-right: 2px solid #b33e5c;
    width: 0px;
    height: 40px;
    margin: 10px auto 40px;
}

.contact__btn {
    width: 100%;
    height: 100%;
    color: #fff;
    display: inline;
    background: linear-gradient(-90deg, #b33e5c, #fc6d91);
    padding: 20px 70px 20px 70px;
    border-radius: 50px;
    box-shadow: 0 5px #9a465b;
    position: relative;
}

.contact__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    background: url(../img/mailicon.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
}

.copyright {
    text-align: center;
    margin-top: 100px;
    padding: 30px 0 30px 0;
    width: 100%;
    background: #cccccc;
}

.copyright__text {
    color: #666;
}
